body {
  background-color: hsl(100, 100%, 81%);
  font-family: "Source Serif 4", serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  margin-top: 20px;
  position: fixed;
}

.nav-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: row;
  text-align: right;
  padding-right: 40px;
  padding-left: 80vh;
}

.nav-link {
  font-family: "Source Serif 4", serif;
  text-decoration: none;
  color: hsl(255, 100%, 50%);
  font-size: 20px;
}

header {
  height: 100vh;
  width: 100%;
  background: url("/Resources/Images/golf homepage.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-text-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.hero-paragraph {
  font-family: "Source Serif 4", serif;
  color: hsl(180, 100%, 80%);
  font-size: 2vw;
  text-align: right;
  margin-bottom: 10vh;
  margin-right: 5vh;
}

.hero-header {
  font-family: "Source Serif 4", serif;
  font-size: 10vw;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: hsl(180, 100%, 80%);
  text-transform: uppercase;
}
.show-case-header {
  font-family: "Source Serif 4", serif;
  font-size: 5vw;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: hsl(240, 50%, 10%);
  text-transform: uppercase;
}
.show-case-image-1 {
  margin-left: 0.25vh;
  width: 48.4vh;
  height: 35vh;
}

.show-case-image-2 {
  width: 48.4vh;
  height: 35vh;
}

.show-case-image-3 {
  width: 48.4vh;
  height: 35vh;
}

.show-case-image-4 {
  width: 48.4vh;
  height: 35vh;
}
.available-times-header {
  font-family: "Source Serif 4", serif;
  font-size: 5vw;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: hsl(240, 50%, 10%);
  text-transform: uppercase;
}
.available-times-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
}
.available-times-list {
  font-family: "Source Serif 4", serif;
  font-size: 2vw;
  color: hsl(240, 50%, 10%);
  text-align: center;
}
.available-times-list-item {
  margin-top: 2vh;
}
.cta-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 75vh;
}
.name {
  font-family: "Source Serif 4", serif;
  font-size: 2vw;
  color: hsl(240, 50%, 10%);
  margin-bottom: 1vh;
}

.email {  
  font-family: "Source Serif 4", serif;
  font-size: 2vw;
  color: hsl(240, 50%, 10%);
  margin-bottom: 1vh;
}
.cta-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#name {
  width: 20vh;
  height: 3vh;
  margin-bottom: 1vh;
}

#email {
  width: 20vh;
  height: 3vh;
}
